@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pacifico&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #007cf0;
  --color-secondary: #dadada;
  --color-danger: #ff3d3d;
  --color-warning: #ffbb00;
  --color-success: #00af00;
  ---color-background: #fff;
  --radius: 1rem;
}

body {
  font-family: 'JetBrains Mono';
  background-image: linear-gradient(rgb(229 231 235) 1px, transparent 1px), linear-gradient(to right, rgb(229 231 235) 1px, transparent 1px);
  background-size: 100px 100px;
  background-color: rgb(249 250 251);
}