@import "tailwindcss";

@theme {
  --color-primary: #007cf0;
  --color-secondary: #c0c0c0;
  --color-danger: #ff3d3d;
  --color-warning: #ffbb00;
  --color-success: #00af00;
  ---color-background: #fff;
  --radius: 1rem;
}

:root {
  --primary-color: #007cf0;
  --secondary-color: #c0c0c0;
  --danger-color: #ff3d3d;
  --warning-color: #ffbb00;
  --success-color: #00af00;
  --background-color: #ffffff;

  --radius: 1rem;
}


body {
  font-family: monospace;
  background-image: linear-gradient(rgb(229 231 235) 1px, transparent 1px), linear-gradient(to right, rgb(229 231 235) 1px, transparent 1px);
  background-size: 100px 100px;
  background-color: rgb(249 250 251);
}